@charset "UTF-8";
@import '_setting';
@import '_mixin.scss';

@include mediaquery-smartphone {
	.accessories {
		article {
			width:100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.txt {
				width:100%;
				display:flex;
				justify-content: center;
				align-items: center;
				.sub_ttl {
					font-size: 144%;
					margin-bottom:30px;
				}
				p {
					line-height:2;
				}
			}
			.pic {
				width:100%;
				text-align: center;
			}
		}
	}
	.foot_fix {
		width:100%;
		position: fixed;
		z-index:5;
		bottom:0px;
		left:0px;
		background: #4DA3FF;
		ul {
			width:100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				width:calc(100% / 6);
				display:flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&:before {
					content: "\f105";
					font-family: FontAwesome;
					position: absolute;
					top: 50%;
					right:5px;
					color:#FFF;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}
				&:after {
					content:"";
					height:95%;
					width:1px;
					background: #FFF;
					position: absolute;
					top: 40%;
					right: 0%;
					transform: translateY(-40%);
					-webkit-transform: translateY(-40%);
				}
				&:last-child:after {
					display:none;
				}
				a {
					box-sizing: border-box;
					height:100%;
					display:block;
					width:100%;
					padding:10px;
					color:#FFF;
					font-size: 80%;
				}
			}
		}
	}
	.ttl {
		margin-bottom:30px;
	}
	.feat__detail {
		padding-top: 80px;
		.r_box {
			display:block;
			margin-top: 150px;
		}
		.outer {
			position:relative;
			width: 90%;
			max-width:1000px;
			margin:0px auto;
			padding:0px 20px;
			box-sizing: border-box;
		}
		.box {
			border: 1px solid #efefef;
			background-color: #fff;
			height: auto;
			position:relative;
			z-index:1;
			display:flex;
			justify-content: center;
			align-items: center;
			text-align:center;
			width:80%;
			max-width: 500px;
			margin: -50px auto 60px;
			padding:0px 20px;
			min-height:300px;
			.sub_ttl {
				font-size: 144%;
				margin-bottom: 25px;
				text-align: left;
				span {
					font-size: 154%;
				}
			}
			.txt {
				line-height:1.5;
				text-align: left;
			}
		}
		.l-pic ,.r-pic {
			position:static;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.common_contact {
		width:100%;
		padding:30px 0px;
		.box {
			display: flex;
			flex-wrap: wrap;
			.left {
				width:100%;
				margin-bottom:25px;
				.outer {
					background: #FFF;
					padding:30px;
					box-sizing: border-box;
					text-align:center;
				}
			}
			.right {
				width:100%;
				padding:30px;
			}
		}
	}

	.feat {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&:before{
				content:"";
				display:block;
				width: 32%;
				height:0;
				order:1;
			}
			&:after{
				content:"";
				display:block;
				width: 32%;
				height:0;
				order:1;
			}
			a {
				display:block;
			}
			li {
				width:48%;
				margin-bottom: 35px;
				background: #f7f6f1;
				border-top:4px solid #4DA3FF;
				border-left:1px solid #e7e5dd;
				border-right:1px solid #e7e5dd;
				border-bottom:1px solid #e7e5dd;
				position: relative;
				img {
					width:100%;
				}
				.sub_ttl {
					font-size: 134%;
					color:#4DA3FF;
					margin-bottom:10px;
					font-weight: bold;
				}
				&:hover:after{
					padding:2px 20px 2px 25px;
				}
				&:hover p {
					text-decoration:underline;
				}
				&:after {
					content: "\f105";
					font-family: FontAwesome;
					position: absolute;
					right:0px;
					top:30px;
					background: #4DA3FF;
					padding:2px 10px 2px 25px;
					color:#FFF;
					box-sizing: border-box;
					transition: .5s all;
				}
				.inner {
					padding:30px 20px 20px 20px;
					box-sizing: border-box;
					width: 100%;
				}
			}
		}
	}
	.second__fixed {
		position:static !important;
		z-index:1000;
		// box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
		width: 100%;
	}
	.second__header {
		background: #FFF;
		.tagline {
			display: flex;
			flex-wrap: nowrap;
			justify-content:space-between;
			width:100%;
			left:0px;
			top:0px;
			transition: .5s all;
			z-index:3;
			padding-bottom: 10px;
			.logo {
				padding-top: 10px;
				padding-left: 10px;
			}
		}
	}
	.detail_main {
		padding:40px 0px;
		.box {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			.left {
				width:60%;
				.logo {
					margin-top: 20px;
				}
				.sub_ttl {
					font-size: 184%;
					padding-top: 25px;
					span {
						font-size: 64%;
						display:inline-block;
						padding-bottom:15px;
					}
				}
				.lead {
					padding-top: 20px;
					font-size: 114%;
				}
				.btn_area {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					width:100%;
					padding-top:40px;
					li {
						width:48%;
					}
					.btn {
						width: 100%;
						color:#FFF;
						padding:20px;
						box-sizing: border-box;
						display:block;
						transition: .5s all;
						border-radius: 5px;
						text-align:center;
						position: relative;
						font-weight: bold;
						font-size: 114%;
						&:hover {
							opacity: 0.7;
							&:after {
								top:25px;
								transition: .5s all;
							}
						}
						&:after {
							content: "";
							position: absolute;
							width:19px;
							height:20px;
							right:10px;
							background: url( "../img/arrow-down.png" ) no-repeat 0px 0px;
							top:20px;
						}
					}
				}
			}
			.right {
				width:38%;
			}
		}
	}
	.fixed {
		position:static !important;
		z-index:1000;
		// box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
		width: 100%;
		left:0px;
		background: rgba(0,0,0,0);
		top:0px;
		padding:0px;
	}
	.top__news {
		padding-top: 30px;
		.box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.news {
				display: flex;
				flex-wrap: wrap;
				width:100%;
				margin-bottom: 20px;
				.sub_ttl {
					color:$sub_color;
					font-size: 164%;
					border-bottom:1px solid $sub_color;
					border-right:none;
					padding-right: 0px;
					padding-bottom: 10px;
					width:100%;
				}
				.headline {
					padding-left: 0px;
					width:100%;
					padding-top: 10px;
				}
			}
			p {
				width:100%;
			}
			.link {
				color:$sub_color;
				text-decoration:none;
				border:1px solid $sub_color;
				max-width:300px;
				margin:0px auto;
				position:relative;
				padding:10px;
				box-sizing: border-box;
				text-align:center;
				display:block;
				font-size: 134%;
				&:after {
					content: "";
					width:16px;
					height:16px;
					background: url( "../img/icon_arrow_blue@2x.png" ) no-repeat 0px 0px;
					position: absolute;
					right:20px;
					top:18px;
				}
			}
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.main {
			width:100%;
		}
	}

	.common_contact {
		.form_box {
			padding-top: 80px;
			.policy {
				text-align:center;
				padding:50px 0px;
				a {
					color:$sub_color;
					text-decoration:underline;
				}
			}
			form {
				table {
					table-layout: fixed;
					word-break: break-all;
					word-wrap: break-word;
					th , td {
						display:block;
						box-sizing: border-box;
						width:100%;
						border:none;
					}
					th {
						width:100%;
						border-bottom:none;
					}

				}
			}
		}
	}
	footer {
		background: #2b2d42;
		width:100%;
		position:relative;
		padding:40px 0px;
		z-index:0;
		.logo {
			padding:40px 0px;
			text-align:center;
			width:100%;
			p {
				color:#FFF;
				a {
					color:#FFF;
				}
			}
		}
		.link {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li {
				margin-right: 20px;
				transition: .5s all;
				a {
					color:#FFF;
				}
				&:not(:last-child) {
					padding-top:15px;
				}
				&:hover {
					opacity:0.7;
				}
				&:last-child {
					width:100%;
					margin-top:30px;
					margin-right:0px;
					background:$main_color;
					text-align:center;
					color:#FFF;
					padding:15px 15px 15px;
					display:block;
					font-size:108%;
					box-sizing: border-box;
					span {
						font-size:128%;
					}
				}
			}
		}
		.copy {
			text-align:center;
			color:#FFF;
			padding-top: 30px;
			font-size:84%;
		}
	}
	.mincho {
		font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho" serif;
	}
	.sp_none {
		display:none !important;
	}
	.pc_none {
		display:block;
	}
	.sp_mt20 {
		margin-top:20px;
	}
	.fixed {
		padding-top:0px;
		position: static;
	}
	.local_nav {
		display:none;
	}
	.map__block_sp {
		display:none;
	}
	.map {
		width:100%;
		height:350px;
		margin-bottom:40px;
	}
	.scroll-prevent {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0; /*追記*/
		right: 0; /*追記*/
	}
	#nav-drawer {
		position: relative;
		background:#0059B2;
		text-align: center;
	}
	.main_ttl {
		position:relative;
		top:-100px;
		background:#FFF;
		padding:50px 0px;
	}
	.nav-unshown {
		display:none;
	}
	.half__column {
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
		.box {
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.top__inq {
		padding:40px 0px;
		.content {
			padding:20px;
			width:100%;
			ul {
				li {
					width:50%;
					border-right: 1px solid $main_color;
					padding-right:20px;
					box-sizing: border-box;
					padding:15px 0px;
					text-align:center;
					&:nth-child(even){
						border-right: none;
					}
					p {
						color:$main_color;
						padding:10px 0px;
					}
					.btn {
						font-size:100%;
					}
				}
			}
		}
	}

	.top__business {
		width:100%;
		article {
			width:100%;
			height:auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.pic {
				width:100%;
				img {
					object-fit: cover;
					font-family: 'object-fit: cover;'; /*IE対策*/
					width:100%;
					height:100%;
				}
			}
			.box {
				width:100%;
				display:flex;
				justify-content: center;
				align-items: center;
				text-align:center;
				box-sizing: border-box;
				padding:50px;
				.sub_ttl {
					color:$sub_color;
					font-size: 174%;
					margin-bottom: 40px;
				}
				p {
					line-height:1.6;
					margin-bottom: 40px;
				}
			}
		}
	}

	.reverse {
		flex-direction: column-reverse;
	}

	/*アイコンのスペース*/
	#nav-open {
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		position: fixed;
		padding:10px;
		right:0px;
		top:0px;
		z-index:1001;
		background:#0059B2;
	}

	#nav-open span {
		position: absolute;
		height: 3px;/*線の太さ*/
		width: 30px;/*長さ*/
		background: #FFF;
		display: block;
		content: '';
		cursor: pointer;
		-webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}

	#nav-open span:nth-of-type(1) {
		top: 13px;
	}

	#nav-open span:nth-of-type(2) {
		top: 23px;
	}
	#nav-open span:nth-of-type(3) {
		top: 33px;
	}

	#nav-open.active span:nth-of-type(1) {
		-webkit-transform: translateY(10px) rotate(-45deg);
		transform: translateY(10px) rotate(-45deg);
	}
	#nav-open.active span:nth-of-type(2) {
		opacity: 0;

	}
	#nav-open.active span:nth-of-type(3) {
		-webkit-transform: translateY(-10px) rotate(45deg);
		transform: translateY(-10px) rotate(45deg);
	}

	/*閉じる用の薄黒カバー*/
	#nav-close {
		display: none;/*はじめは隠しておく*/
		position: fixed;
		z-index: 99;
		top: 0;/*全体に広がるように*/
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0;
		transition: .3s ease-in-out;
	}

	/*中身*/
	#nav-content {
		overflow-y: scroll;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background: #000;/*背景色*/
		transition: .3s ease-in-out;/*滑らかに表示*/
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);/*左に隠しておく*/
		-webkit-overflow-scrolling: touch;
		.box {
			display: flex;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 60px;
			text-align: left;
			a {
				color: #fff;
			}
			ul {
				margin-bottom:15px;
				li {
					font-size:104%;
					font-weight:bold;
					padding: 5px 0;
					ul {
						li {
							position: relative;
							padding-left: 20px;
							font-size:94%;
							&:before {
								content: "";
								position: absolute;
								left: 10px;
								top: 13px;
								width: 10px;
								height: 2px;
								background: #fff;
							}
						}
					}
				}
			}
		}
	}

	/*チェックが入ったらもろもろ表示*/
	#nav-input:checked ~ #nav-close {
		display: block;/*カバーを表示*/
		opacity: .5;
	}

	#nav-input:checked ~ #nav-content {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);/*中身を表示（右へスライド）*/
		box-shadow: 6px 0 25px rgba(0,0,0,.15);
	}

	header {
		.tagline {
			height: auto;
			.logo {
				padding:5px;
			}
		}
	}

	.top__news__block {
		.container {
			width: 100%;
			padding-top:20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.left {
				width:100%;
				margin-bottom: 20px;
			}
			.right {
				width:100%;
				.tab__box {
					.outer {
						box-sizing: border-box;
						padding:20px 20px 0px 20px;
						border:1px solid $main_color;
						.maker {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							&:before{
								content:"";
								display:block;
								width: 33%;
								height:0;
								order:1;
							}
							li {
								width:33%;
							}
						}
						.cat {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							&:before{
								content:"";
								display:block;
								width: 33%;
								height:0;
								order:1;
							}
							li {
								width:33%;
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}

	.news_box {
		width:100%;
		box-sizing: border-box;
		dl {
			flex-direction:column;
			padding:0px;
			margin-bottom:0px;
			dt {
				width:100%;
				font-size:120%;
				font-weight:500;
				margin-bottom:5px;
				background:#F7F7F7;
				padding:15px 10px;
				border-bottom:none;
				span {
					width: 180px;
				}
			}
			dd {
				width:100%;
				font-size: 90%;
				border-top: none;
				padding:10px 10px;
				&:nth-child(2) {
					border-top:none;
				}
			}
		}
	}

	/*/////////// 会社概要 ////////////*/
	.history_tbl {
		dl {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			dt {
				width: 100%;
				padding:10px;
				box-sizing: border-box;
				border-right: 1px solid #CCC;
				font-size: 84%;
				text-align: left;
				span {
					font-size: 184%;
				}
			}

			dd {
				width: 100%;
				padding:10px;
				box-sizing: border-box;
			}
		}

		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
			border: none;
			box-sizing: border-box;

			tr {
				width: 100%;
				border: 1px solid #CCC;
			}

			th,
			td {
				box-sizing: border-box;
				padding: 15px;
				font-size: 16px;
				border: none;
				font-size: 100%;
				display: block;
			}

			thead {
				display: none;
			}

			tbody {
				text-align: left;

				th {
					background: #F5F5F5;
					color: $text_color;
					text-align: left;
					width: 100%;
				}

				td {
					background: white;
				}
			}
		}
	}
	.company_tbl  {
		table {
			width:100%;
			border-collapse:collapse;
			border-spacing: 0px;
			border:none;
			box-sizing: border-box;
			tr{
				width: 100%;
				border:1px solid #CCC;
			}
			th,td{
				box-sizing:border-box;
				padding: 15px;
				font-size:16px;
				border:none;
				font-size:100%;
				display:block;
			}
			thead {
				display:none;
			}
			tbody{
				text-align: left;
				th{
					background:#F5F5F5;
					color: $text_color;
					text-align: left;
					width:100%;
				}
				td{
					background: white;
					dl {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						dt {
							width: 40%;
							display: flex;
							justify-content: space-between; 
							padding-right: 35px;
							box-sizing: border-box;
							margin-bottom: 8px;
						}
						dd {
							width: 60%;
							margin-bottom: 8px;
						}
					}
				}
			}
		}
	}

	/*/////////// header ////////////*/
	.content_block {
		padding:20px 0px;
	}	
	
	/*/////////// nav ////////////*/
	.nav {
		padding-bottom: 0px;
		.logo {
			max-width:initial;
			width:100%;
			text-align:center;
		}
	}
	.slick-slider {
		li {
			transition: .5s all;
			img {
				height:500px;
				width:100%;
				object-fit: cover;
				font-family: 'object-fit: cover;'; /*IE対策*/
			}
			&:hover {
				opacity:0.7;
			}
		}
	}
	.top__header {
		position:relative;
		.slide_content {
			position: absolute;
			top: 20%;
			width:100%;
			left: 0px;;
			z-index:1;
			.sub_ttl {
				color:#FFF;
				font-size:184%;
				line-height:1.6;
				margin-bottom:-30px;
				width:100%;
				text-align:center;
			}
			.outer {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				img {
					max-width:360px;
					margin-right:25px;
				}
				.txt {
					max-width:340px;
					display: flex;
					padding-bottom:0px;
					padding-top:50px;
					align-items: flex-start;
					.copy {
						line-height:1.7;
						margin-bottom:30px;
						color:#FFF;
						font-size:124%;
						span {
							font-size:124%;
						}
					}
					.btn {
						display:block;
						border:1px solid #FFF;
						text-align:center;
						color:#FFF;
						padding:20px;
						box-sizing: border-box;
						transition: .5s all;
						&:hover {
							background:#FFF;
							color:#000;
						}
					}
				}
			}
		}
	}
	header {
		.logo {
			padding-bottom:7px;
		}
		.sp_tel {
			position:fixed;
			z-index:1001;
			right: 50px;
			top: 0px;
			font-size:200%;
			width: 50px;
			height: 50px;
			color:#FFF;
			background:#b7dbff;
			line-height:50px;
			text-align:center;
			a {
				color:#FFF;
				display:block;
			}
		}
	}
	/*/////////// 会社概要 ////////////*/
	.message {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			.pic {
				width:300px;
				margin:0px auto;
			}
			.txt {
				width:100%;
				padding-left:0px;
				padding-top:20px;
				.sub_ttl {
					font-size:124%;
					margin-bottom:20px;
				}
			}
		}
	}
	.second {
		padding-top: 50px;
	}
	.column__half {
		flex-wrap: wrap;
		.box {
			width: 100%;
			&:first-child {
				margin-bottom:25px;
			}
		}
	}
}

@media screen and (max-width: 764px) {
	.top__recommend {
		.box {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.btn {
				display:block;
				border:1px solid $main_color;
				text-align:center;
				color:$main_color;
				padding:20px;
				box-sizing: border-box;
				transition: .5s all;
				&:hover {
					background:$main_color;
					color:#FFF;
				}
			}
			.img {
				width:100%;
				text-align:center;
				max-width:100%;
				margin-right:0px;
			}
			ul {
				width:100%;
				padding-top:0px;
				margin-bottom:30px;
				li {
					padding-left:38px;
					margin-bottom:20px;
					position:relative;
					width: 100% !important;
					box-sizing: border-box;
					font-size:124%;
					line-height:1.6;
					text-align:left;
					&:before {
						content: "\f00c";
						font-family: FontAwesome;
						position:absolute;
						font-size:144%;
						left:0px;
						top:-8px;
						color:$main_color;
					}
					&:last-child {
						margin-bottom:0px;
					}
				}
			}

		}
	}
	.three__column {
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
		.box {
			width: 100%;
			margin-bottom: 25px;
			img {
				max-width: 100%;
			}
		}
	}
	
	.second_main_img {
		width:100%;
		height:320px;
		background-attachment: scroll;
		.outer {
			width:100%;
			.sub_ttl {
				font-size:164%;
			}
			p {
				padding:20px;
				line-height:1.6;
			}
		}
	}

	.reverse__764 {
		flex-direction: column-reverse;
		img {
			width:100%;
		}
	}
	
	.local_lead {
		font-size: 114%;
		max-width:100%;
		padding:0px 20px;
		margin: 0px auto;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 640px) {
	.detail_main {
		padding:40px 0px;
		.box {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			.left {
				width:100%;
				.logo {
					margin-top: 20px;
				}
				.sub_ttl {
					font-size: 184%;
					padding-top: 25px;
					span {
						font-size: 64%;
						display:inline-block;
						padding-bottom:15px;
					}
				}
				.lead {
					padding-top: 20px;
					font-size: 114%;
				}
				.btn_area {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					width:100%;
					padding-top:40px;
					li {
						width:48%;
					}
					.btn {
						width: 100%;
						color:#FFF;
						padding:20px;
						box-sizing: border-box;
						display:block;
						transition: .5s all;
						border-radius: 5px;
						text-align:center;
						position: relative;
						font-weight: bold;
						font-size: 114%;
						&:hover {
							opacity: 0.7;
							&:after {
								top:25px;
								transition: .5s all;
							}
						}
						&:after {
							content: "";
							position: absolute;
							width:19px;
							height:20px;
							right:10px;
							background: url( "../img/arrow-down.png" ) no-repeat 0px 0px;
							top:20px;
						}
					}
				}
			}
			.right {
				width:100%;
			}
		}
	}
	.img_list {
		li {
			width:50% !important;
		}
	}
	
	.top__header {
		position:relative;
		.slide_content {
			position: absolute;
			top: 20%;
			width:100%;
			left: 0px;;
			z-index:1;
			.sub_ttl {
				color:#FFF;
				font-size:184%;
				line-height:1.6;
				margin-bottom:0px;
				width:100%;
				text-align:center;
			}
			.outer {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				img {
					max-width:220px;
					margin-right:0px;
				}
				.txt {
					max-width:340px;
					display: flex;
					padding-bottom:0px;
					padding-top:50px;
					align-items: flex-start;
					.copy {
						line-height:1.7;
						margin-bottom:30px;
						color:#FFF;
						font-size:124%;
						span {
							font-size:124%;
						}
					}
					.btn {
						display:block;
						border:1px solid #FFF;
						text-align:center;
						color:#FFF;
						padding:20px;
						box-sizing: border-box;
						transition: .5s all;
						&:hover {
							background:#FFF;
							color:#000;
						}
					}
				}
			}
		}
	}

	

	.top__header {
		position:relative;
		.sub_ttl {
			font-size: 144%;
			span {
				font-size: 144%;
			}
		}
	}
	.top__inq {
		padding:40px 0px;
		.content {
			padding:10px;
			width:100%;
			ul {
				li {
					width:50%;
					border-right: 1px solid $main_color;
					padding-right:20px;
					box-sizing: border-box;
					padding:15px 0px;
					text-align:center;
					&:nth-child(even){
						border-right: none;
					}
					p {
						color:$main_color;
						padding:10px 0px;
					}
					.btn {
						width:90%;
						font-size:100%;
					}
				}
			}
		}
	}
	
	.top__news__block {
		.container {
			width: 100%;
			padding-top:20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.left {
				width:100%;
				margin-bottom: 20px;
			}
			.right {
				width:100%;
				.tab__box {
					.outer {
						box-sizing: border-box;
						padding:10px 10px 0px 10px;
						border:1px solid $main_color;
						.maker {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							&:before{
								content:"";
								display:block;
								width: 33%;
								height:0;
								order:1;
							}
							li {
								width:48%;
							}
						}
						.cat {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							&:before{
								content:"";
								display:block;
								width: 33%;
								height:0;
								order:1;
							}
							li {
								width:48%;
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
	.slide_wrapper {
		position:relative;
		.txt {
			position:absolute;
			z-index:1;
			top:10%;
			left:15%;
			color:#FFF;
			h1 {
				font-size: 164%;
				line-height:1.6;
				span {
					border-bottom: 3px solid #FFF;
				}

			}
			p {
				font-size: 100%;
				line-height:1.5;
				padding-top:10px;
			}
		}
	}

	.img__ttl_list {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-between;
		.w20,.w30,.w50 {
			width:100%;
			margin-bottom: 25px;
			img {
				width:100%;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.reverse__640 {
		flex-direction: column-reverse;
		img {
			width:100%;
		}
	}
	.large__column {
		.l {
			width: 100%;
		}
		.s {
			width: 100%;
			margin-bottom: 20px;
			img {
				width:100%;
			}
		}
	}

	.scroll {
		table {
			width:500px;
		}
	}
	.top__bottom__link {
		padding-top: 30px;
		.box {
			width: calc(100% / 2);
			.inner {
				font-size: 1.2rem;
				span {
					font-size: 1.0rem;
					padding-top: 10px;
				}
				&:after {
					font-size: 1.6rem;
				}
			}
		}
	}
	.top__sub__link {
		.box {
			width: 50%;
			.inner {
				font-size: 1.4rem;
				&:after {
					font-size: 1.8rem;
				}
			}
		}
	}
	.top_main {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-between;
		.box {
			width:100%;
		}
		.right {
			.sub_ttl {
				font-size: 1.34rem;
				margin-bottom: 30px;
			}
		}
		.left {
			ul {
				li {
					.inner {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	.news_box {
		min-height: 100%;
		box-sizing: border-box;
		dl {
			flex-direction:column;
			padding:0px;
			margin-bottom:0px;
			dt {
				width:100%;
				font-size:120%;
				font-weight:500;
				margin-bottom:5px;
				background:#F7F7F7;
				padding:15px 10px;
				border-bottom:none;
				span {
					width: 180px;
				}
			}
			dd {
				width:100%;
				font-size: 90%;
				border-top: none;
				padding:10px 10px;
				span {
					padding-left: 0px;
					display:block;
				}
				&:nth-child(2) {
					border-top:none;
				}
			}
		}
	}
	.top__box {
		.sub_ttl {
			margin-bottom: 40px;
			position:relative;
			border-bottom: 4px solid #fd9003;
			padding:0px 0px 10px 0px;
			font-size: 1rem;
			a {
				position:absolute;
				right:0px;
				top:65px;
				color:#509acb;
				font-size: 1.1rem;
				display:block;
				&:after {
					content: "\f138";
					font-family: FontAwesome;
					font-size: 1.5rem;
					display:inline-block;
					margin-left: 10px;
					vertical-align:baseline;
				}
			}
		}
	}

	.scroll {
		max-width: 100%;
		margin: 0px auto 40px;
		overflow: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}

	.scroll::-webkit-scrollbar {
		height: 5px;
	}
	.scroll::-webkit-scrollbar-track {
		border-radius: 5px;
		background: #eee;
	}
	.scroll::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #666;
	}
	.scroll {
		table {
			width:800px;
		}
	}

	/*/////////// お問い合わせ ////////////*/
	.contact {
		padding:10px;
		.list {
			flex-wrap:wrap;
			.box {
				margin-bottom: 30px;
				width: 100%;
				.sub_ttl {
					padding:20px;
					font-size:124%;
				}
				.inner {
					padding:20px;
					width: 100%;
				}
			}
			.btn {
				width: 100%;
				background: #2A5B88;
				color:#FFF;
				padding:15px;
			}
		}
		form {
			table {
				table-layout: fixed;
				word-break: break-all;
				word-wrap: break-word;
				th , td {
					display:block;
					box-sizing: border-box;
					padding:25px 10px;
				}
				th {
					width:100%;
					border-bottom:none;
					padding-bottom:10px !important;
				}
				td {
					width:100%;
					padding-top:0px !important;
				}
				.normal_txt {
					width:100%;
				}
				.small_txt {
					width:50%;
				}
			}
		}
	}
	/*/////////// プライバシーポリシー ////////////*/
}

@media screen and (max-width: 480px) {
	.feat__detail {
		padding-top: 50px;
		.outer {
			position:relative;
			width:100%;
			max-width:1000px;
			margin:0px auto;
			padding:0px 0px;
			box-sizing: border-box;
		}
		.box {
			border: 1px solid #efefef;
			background-color: #fff;
			height: auto;
			position:relative;
			z-index:1;
			display:flex;
			justify-content: center;
			align-items: center;
			text-align:center;
			width:80%;
			max-width: 500px;
			margin: -50px auto 10px;
			padding:20px 20px;
			min-height:250px;
			.sub_ttl {
				font-size: 114%;
				margin-bottom: 25px;
				text-align: left;
				span {
					font-size: 154%;
				}
			}
			.txt {
				line-height:1.5;
				text-align: left;
			}
		}
		.l-pic,.r-pic {
			position:static;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.feat {
		ul {
			li {
				width:100%;
			}
		}
	}
	.detail_main {
		padding:20px 0px;
		.box {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			.left {
				width:100%;
				.logo {
					margin-top: 20px;
				}
				.btn_area {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width:100%;
					padding-top:40px;
					li {
						width:100%;
					}
					.btn {
						width: 100%;
						color:#FFF;
						margin-bottom: 20px;
					}
				}
			}
			.right {
				width:100%;
			}
		}
	}
	.point {
		background: #f5f7fa;
		text-align:center;
		font-size: 1rem;
		font-weight:bold;
		padding:20px;
		box-sizing: border-box;
		line-height:1.6;
		.sub_ttl {
			font-size:134%;
			text-align:center;
			color:$sub_color;
			span {
				font-size: 60%;
			}
		}
	}
	
	.second_main_img {
		.outer {
			.sub_ttl {
				font-size:124%;
			}
			p {
				padding-top: 20px;
				line-height:1.6;
				font-size: 94%;
			}
		}
	}
	
	.slide_wrapper {
		position:relative;
		.slide-navigation {
			position:absolute;
			width:100%;
			left:-0px;
			bottom:0px;
			z-index:2;
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width:100%;
				padding:0px 25px;
				box-sizing: border-box;
				li {
					margin-right: 0px;
					width:45%;
					margin-bottom: 10px;
					img {
						width:100%;
						transition: .5s all;
						cursor:pointer;
						&:hover {
							opacity:1;
						}
					}
					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
	}

	.checklist {
		li {
			padding-left:25px;
			margin-bottom:15px;
			position:relative;
			width: 100% !important;
			box-sizing: border-box;
			font-size:124%;
			text-align:left;
			&:before {
				content: "\f00c";
				font-family: FontAwesome;
				position:absolute;
				left:0px;
				top:0px;
				color:$main_color;
			}
			&:last-child {
				margin-bottom:0px;
			}
		}
	}
	.point_l {
		.sub_ttl {
			background:$main_color;
			padding:20px;
			box-sizing: border-box;
			color:#FFF;
			font-size:144%;
			text-align:center;
			span {
				font-size:134%;
				font-weight:bold;
			}
		}
		.box {
			webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
			box-shadow: 0 0 8px rgba(0,0,0,.1);
			margin-bottom:40px;
			.inner {
				box-sizing: border-box;
				padding:20px;
				p {
					font-size:108%;
				}
			}
		}
	}

	.br-sp { display:none; }

	.local_ttl {
		font-size: 1.14rem;
	}
	.local_text {
		font-size: 1.5rem;
	}
	.three__column {
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
		.down {
			width: 100% !important;
		}
		.box {
			width: 32%;
			margin-bottom: 25px;
			img {
				max-width: 100%;
			}
		}
	}

	.ttl {
		font-size:134%;
		text-align:center;
		margin-bottom:20px;
		color:$sub_color;
		position:relative;
		span {
			font-size: 180%;
			display:block;
			padding-right: 0px;
		}
	}
	.common_btn {
		width:80%;
		max-width:300px;
	}

	.image__list_ttl {
		ul {
			li {
				width:100%;
				margin-bottom:25px;
			}
		}
	}

	.middle_ttl {
		font-size:134%;
	}

	.local__tbl {
		table {
			tbody{
				text-align: left;
				th{
					width:50%;
				}
			}
		}
	}
	
	.top__header {
		position:relative;
		.slide_content {
			position: absolute;
			top: 20%;
			width:96%;
			left: 0px;;
			z-index:1;
			.sub_ttl {
				color:#FFF;
				font-size:154%;
				line-height:1.6;
				margin-bottom:0px;
				width:100%;
				text-align:center;
			}
			.outer {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				img {
					max-width:150px;
					margin-right:0px;
				}
				.txt {
					max-width:340px;
					display: flex;
					padding-bottom:0px;
					padding-top:50px;
					align-items: flex-start;
					.copy {
						line-height:1.7;
						margin-bottom:30px;
						color:#FFF;
						font-size:114%;
						span {
							font-size:124%;
						}
					}
					.btn {
						display:block;
						border:1px solid #FFF;
						text-align:center;
						color:#FFF;
						padding:15px 10px;
						box-sizing: border-box;
						transition: .5s all;
						&:hover {
							background:#FFF;
							color:#000;
						}
					}
				}
			}
		}
	}

	.top__news {
		.box {
			.news {
				.headline {
					padding-left: 0px;
					width:100%;
					padding-top: 10px;
					span {
						font-weight: bold;
						font-size: 124%;
						display:block;
					}
				}
			}
		}
	}
}
