
<div class="common_contact">
	<div class="wrapper">
		<h2 class="ttl"><span class="ProstoOne">Contact</span></h2>
		<p class="center mb_20">
			商品についてのご質問やお見積りなど、お問い合わせはこちらからお願いいたします。
		</p>
		<section class="box">
			<div class="left">
				<div class="outer">
					<h3 class="sub_ttl">お電話でのお問い合わせ</h3>
					<p class="service">	
						<span class="tel">
							<i class="fa fa-phone" aria-hidden="true"></i> 000-0000-0000
						</span>
						<span class="time"><br class="pc_none">平日9時～17時</span>
					</p>
				</div>
			</div>
			<div class="right">
				<a href="" class="btn">
					<div class="outer">
						<p>メールでのお問い合わせ<br>
						<span><i class="fa fa-envelope-o" aria-hidden="true"></i> メールフォームへ</span>
						</p>
					</div>
				</a>
			</div>
		</section>
	</div>
</div>

<footer class="wow fadeIn" data-wow-duration="3.0s">
	<div class="wrapper">
		<ul class="link">
			<li><a href="">製品情報</a></li>
			<li><a href="https://www.kjtd.co.jp/" target="_blank">KJTD公式サイト</a></li>
			<li><a href="">カタログダウンロード</a></li>
			<li><a href=""><span><i class="fa fa-user-o" aria-hidden="true"></i></span> ユーザー新規登録／マイページ</a></li>
		</ul>

		<div class="logo">
			<img src="img/logo.png" alt="">
			<p><a href="https://www.kjtd.co.jp/" target="_blank">株式会社KJTD公式サイト</a></p>
		</div>
		
		<address class="yumincho">
			株式会社KJTD<br>〒170-6045 東京都豊島区東池袋3丁目1番1号 サンシャイン60 45階
		</address>
		<p class="copy yumincho">Copyright (C) KJTD Co., Ltd.</p>
	</div>
</footer>

</body>
</html>
