<%-
include('./common/_header', {
	path: './'
});
%>

<div class="content">
	<div class="main">
		<header class="second__header">
			<div class="tagline">
				<div class="logo">
					<img src="img/logo.png" alt="">
				</div>
				<nav class="sp_none">
					<ul class="yumincho" id="pc_nav">
						<li>
							<a href="" class="child">製品情報</a>
							<div class="pc_dropdown">
								<div class="business">
									<div class="group w60">
										<div class="inner">
											<div class="box">
												<p class="cat_ttl">ガス機器事業</p>
												<p class="nav__ttl">LPGベーパライザー</p>
												<dl>
													<dt><a href="">アスリート</a></dt>
													<dt><a href="">セイビースト</a></dt>
													<dt><a href="">ミニマム</a></dt>
													<dt><a href="">ペーパーウルトラ</a></dt>
													<dt><a href="">ペーパーブルー</a></dt>
													<dt><a href="">ペーパーゴールドミキサー</a></dt>
													<dt><a href="">ペーパーミキサー</a></dt>
												</dl>
												<p class="nav__ttl">LNGベーパライザー</p>
												<dl>
													<dt><a href="">ナチュライザイー</a></dt>
												</dl>
												<p class="nav__ttl">アンモニアベーパライザー</p>
												<dl>
													<dt><a href="">アンモニアベーパライザー</a></dt>
												</dl>
											</div>
											<div class="box">
												<p class="nav__ttl">ベーパライザーユニット</p>
												<dl>
													<dt><a href="">バイオ</a></dt>
													<dt><a href="">e-バイオ</a></dt>
													<dt><a href="">バルクユンポ</a></dt>
													<dt><a href="">ラージユンポ</a></dt>
												</dl>
												<p class="nav__ttl">簡易スタンド</p>
												<dl>
													<dt><a href="">オートコンポ</a></dt>
												</dl>
												<p class="nav__ttl">カクシュバルブ</p>
												<dl>
													<dt><a href="">LR</a></dt>
													<dt><a href="">バラフロー</a></dt>
													<dt><a href="">ピュアフロー</a></dt>
													<dt><a href="">KRシリーズ</a></dt>
												</dl>
											</div>
										</div>
									</div>
									<div class="group w20">
										<p class="cat_ttl">ガスプラント事業</p>
										<dl>
											<dt><a href="">設計/施行</a></dt>
											<dt><a href="">定期自主検査/開放検査</a></dt>
											<dt><a href="">指定保安検査</a></dt>
										</dl>
										<p class="cat_ttl"><a href="">非常用事業</a></p>
										<p class="cat_ttl">災害対策事業</p>
										<dl>
											<dt><a href="">非常用タンク</a></dt>
											<dt><a href="">浄水器</a></dt>
											<dt><a href="">貯蔵庫</a></dt>
										</dl>
									</div>
									<div class="group w20">
										<p class="cat_ttl">感染対策事業</p>
										<dl>
											<dt><a href="">設計/施行</a></dt>
											<dt><a href="">定期自主検査/開放検査</a></dt>
										</dl>
										<p class="cat_ttl"><a href="">海外事業</a></p>
									</div>
								</div>
							</div>
						</li>
						<li><a href="">お問い合わせ</a></li>
						<li><a href="">KJTD公式サイト</a></li>
						<li><a href="">カタログダウンロード</a></li>
						<li><a href=""><span><i class="fa fa-user-o" aria-hidden="true"></i></span> ユーザー新規登録／マイページ</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- header -->

		<!-- <div class="second_main_img product__bg fadeIn wow" data-wow-duration="1.0s">
			<div class="outer">
				<h2 class="sub_ttl fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="1">
					購買情報
				</h2>
				<p class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.8">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</p>
			</div>
		</div> -->

		<div class="detail_main fadeIn wow" data-wow-duration="1.0s">
			<div class="box wrapper">
				<div class="left">
					<figure>
						<figcaption class="sub_ttl yumincho">
							USFD-20 <span>(製品詳細)</span>
						</figcaption>
						<p class="lead">
						製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要
						</p>
						<ul class="type">
							<li><a href="">付属品　<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">仕様　<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
						<ul class="btn_area">
							<li><a href="" class="btn">お問合せ</a></li>
							<li><a href="" class="btn">ダウンロード</a></li>
						</ul>
					</figure>
				</div>
				<div class="right">
					<img src="img/top-product.png" alt="">
				</div>
			</div>
		</div>

		<main>
			<div class="wrapper">
				<div class="content_block fadeIn wow feat__detail" data-wow-duration="2s">
					<h3 class="middle_ttl">特長</h3>
					<section class="outer">
						<div class="r-pic wow fadeInUp" data-wow-duration="1.4s">
							<img src="img/main-v-1.jpg" alt="">
						</div>
						<div class="box wow fadeInUp" data-wow-duration="1s">
							<section>
								<h3 class="sub_ttl"><span class="Roboto">01.</span> 多機能</h3>
								<p class="txt">
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
							</section>
						</div>
					</section>

					<section class="outer r_box">
						<div class="l-pic wow fadeInUp" data-wow-duration="1.4s">
							<img src="img/main-v-2.jpg" alt="">
						</div>
						<div class="box wow fadeInUp" data-wow-duration="1s">
							<section>
								<h3 class="sub_ttl"><span class="Roboto">02.</span> 機械加工・溶接・組立を一貫生産</h3>
								<p class="txt">
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
							</section>
						</div>
					</section>
				</div>
			</div>
		</main>
		<!-- main -->

		<div class="foot_fix pc_none">
			<ul>
				<li><a href="">多機能</a></li>
				<li><a href="">多機能</a></li>
				<li><a href="">多機能</a></li>
				<li><a href="">多機能</a></li>
				<li><a href="">多機能</a></li>
				<li><a href="">多機能</a></li>
			</ul>
		</div>

		<%-
		include('./common/_footer', {
			path: './'
		});
		%>