<%-
include('./common/_header', {
	path: './'
});
%>

<div class="content">
	<div class="main">
		<header class="second__header">
			<div class="tagline">
				<div class="logo">
					<a href="http://kjtd.test-itri.com/html/index.html"><img src="img/logo.png" alt=""></a>
				</div>
				<nav class="sp_none">
					<ul class="yumincho" id="pc_nav">
						<li>
							<a href="" class="">製品情報</a>
						</li>
						<li><a href="">お問い合わせ</a></li>
						<li><a href="">KJTD公式サイト</a></li>
						<li><a href="">カタログダウンロード</a></li>
						<li><a href=""><span><i class="fa fa-user-o" aria-hidden="true"></i></span> ユーザー新規登録／マイページ</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- header -->

		<!-- <div class="second_main_img product__bg fadeIn wow" data-wow-duration="1.0s">
			<div class="outer">
				<h2 class="sub_ttl fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="1">
					購買情報
				</h2>
				<p class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.8">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</p>
			</div>
		</div> -->

		<div class="detail_main fadeIn wow" data-wow-duration="1.0s">
			<div class="box wrapper">
				<div class="left">
					<figure>
						<figcaption class="sub_ttl yumincho">
							USFD-20
						</figcaption>
						<p class="lead">
						製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要製品概要
						</p>
						<ul class="type">
							<li><a href="">付属品　<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">仕様　<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
						<ul class="btn_area">
							<li><a href="" class="btn">お問合せ</a></li>
							<li><a href="" class="btn">ダウンロード</a></li>
						</ul>
					</figure>
				</div>
				<div class="right">
					<img src="img/top-product.png" alt="">
				</div>
			</div>
		</div>

		<main>
			<div class="wrapper">
				<div class="content_block fadeIn wow feat" data-wow-duration="2s">
					<h3 class="middle_ttl">特長</h3>
					<ul>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">軽量</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">軽量</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">明るい</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">軽量</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">軽量</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="inner">
									<img src="img/top-product.png" alt="">
									<p class="sub_ttl">明るい</p>
									<p>
										説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- main -->

		<%-
		include('./common/_footer', {
			path: './'
		});
		%>