<%-
include('./common/_header', {
	path: './'
});
%>

<script type="text/javascript">
$(function() {

	$('.main_slide').fadeIn(0);
	$('.main_slide').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		dots:true,
		fade:true,
		autoplay: true,
		autoplaySpeed: 2500,
		responsive: [
		{
			    breakpoint: 480, //767px以下のサイズに適用
			    settings: {
			    	dots: false
			    }
			}
			]
		});
});
</script>

<div class="content">
	<div class="main">
		<header class="bg-slider top__header">
			<section class="slide_content">
				<h1 class="sub_ttl">
					コンパクト・1kg未満ながら<br>多機能性を備えた超音波探傷器
				</h1>
				<div class="outer">
					<figure>
						<img src="img/top-product.png" alt="">
					</figure>
					<div class="txt">
						<section>
							<h2 class="copy">
								ポータブル超音波探傷器<br>
								<span>USFD-20</span>
							</h2>
							<a href="" class="btn">製品情報について詳しく</a>
						</section>
					</div>
				</div>
			</section>
			
			<div class="tagline">
				<div class="logo">
					<a href="http://kjtd.test-itri.com/html/index.html"><img src="img/logo.png" alt=""></a>
				</div>
				<nav class="sp_none">
					<ul class="yumincho" id="pc_nav">
						<li>
							<a href="" class="">製品情報</a>
						</li>
						<li><a href="">お問い合わせ</a></li>
						<li><a href="https://www.kjtd.co.jp/" target="_blank">KJTD公式サイト</a></li>
						<li><a href="">カタログダウンロード</a></li>
						<li><a href=""><span><i class="fa fa-user-o" aria-hidden="true"></i></span> ユーザー新規登録／マイページ</a></li>
					</ul>
				</nav>
			</div>
			<div class="main_img">
				<div class="slide_wrapper">
					<ul class="main_slide">
						<li><img src="img/main-v-1.jpg" alt=""></li>
						<li><img src="img/main-v-2.jpg" alt=""></li>
						<li><img src="img/main-v-3.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</header>
		<!-- header -->

		<main>
			<div class="wrapper">
				<div class="content_block fadeIn wow" data-wow-duration="2s">
					<h2 class="ttl">ポータブル超音波探傷器<br><span>USFD-20</span></h2>
					<section class="top__recommend">
						<div class="box">
							<figure>
								<img src="img/top-product.png" alt="">
							</figure>
							<section>
								<ul>
									<li>コンパクトなボディーに優れた探傷性能を搭載</li>
									<li>さまざまな検査環境に対応したポータブル設計</li>
									<li>簡単操作、堅牢設計</li>
									<li>鮮明なフルVGAディスプレイ</li>
								</ul>
								<a href="" class="btn">製品情報について詳しく</a>
							</section>
						</div>
					</section>
				</div>
			</div>
		</main>
		<!-- main -->

		<%-
		include('./common/_footer', {
			path: './'
		});
		%>