<%-
include('./common/_header', {
	path: './'
});
%>

<script type="text/javascript">
$(function() {

	$('.main_slide').fadeIn(0);
	$('.main_slide').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		dots:true,
		fade:true,
		autoplay: true,
		autoplaySpeed: 2500,
		responsive: [
		{
			    breakpoint: 480, //767px以下のサイズに適用
			    settings: {
			    	dots: false
			    }
			}
			]
		});
});
</script>

<div class="content">
	<div class="main">
		<header class="bg-slider top__header">
			<section class="slide_content">
				<h1 class="sub_ttl">
					コンパクト・1kg未満ながら<br>多機能性を備えた超音波探傷器
				</h1>
				<div class="outer">
					<figure>
						<img src="img/top-product.png" alt="">
					</figure>
					<div class="txt">
						<section>
							<h2 class="copy">
								ポータブル超音波探傷器<br>
								<span>USFD-20</span>
							</h2>
							<a href="" class="btn">製品情報について詳しく</a>
						</section>
					</div>
				</div>
			</section>
			
			<div class="tagline">
				<div class="logo">
					<img src="img/logo.png" alt="">
				</div>
				<nav class="sp_none">
					<ul class="yumincho" id="pc_nav">
						<li>
							<a href="" class="child">製品情報</a>
							<div class="pc_dropdown">
								<div class="business">
									<div class="group w60">
										<div class="inner">
											<div class="box">
												<p class="cat_ttl">ガス機器事業</p>
												<p class="nav__ttl">LPGベーパライザー</p>
												<dl>
													<dt><a href="">アスリート</a></dt>
													<dt><a href="">セイビースト</a></dt>
													<dt><a href="">ミニマム</a></dt>
													<dt><a href="">ペーパーウルトラ</a></dt>
													<dt><a href="">ペーパーブルー</a></dt>
													<dt><a href="">ペーパーゴールドミキサー</a></dt>
													<dt><a href="">ペーパーミキサー</a></dt>
												</dl>
												<p class="nav__ttl">LNGベーパライザー</p>
												<dl>
													<dt><a href="">ナチュライザイー</a></dt>
												</dl>
												<p class="nav__ttl">アンモニアベーパライザー</p>
												<dl>
													<dt><a href="">アンモニアベーパライザー</a></dt>
												</dl>
											</div>
											<div class="box">
												<p class="nav__ttl">ベーパライザーユニット</p>
												<dl>
													<dt><a href="">バイオ</a></dt>
													<dt><a href="">e-バイオ</a></dt>
													<dt><a href="">バルクユンポ</a></dt>
													<dt><a href="">ラージユンポ</a></dt>
												</dl>
												<p class="nav__ttl">簡易スタンド</p>
												<dl>
													<dt><a href="">オートコンポ</a></dt>
												</dl>
												<p class="nav__ttl">カクシュバルブ</p>
												<dl>
													<dt><a href="">LR</a></dt>
													<dt><a href="">バラフロー</a></dt>
													<dt><a href="">ピュアフロー</a></dt>
													<dt><a href="">KRシリーズ</a></dt>
												</dl>
											</div>
										</div>
									</div>
									<div class="group w20">
										<p class="cat_ttl">ガスプラント事業</p>
										<dl>
											<dt><a href="">設計/施行</a></dt>
											<dt><a href="">定期自主検査/開放検査</a></dt>
											<dt><a href="">指定保安検査</a></dt>
										</dl>
										<p class="cat_ttl"><a href="">非常用事業</a></p>
										<p class="cat_ttl">災害対策事業</p>
										<dl>
											<dt><a href="">非常用タンク</a></dt>
											<dt><a href="">浄水器</a></dt>
											<dt><a href="">貯蔵庫</a></dt>
										</dl>
									</div>
									<div class="group w20">
										<p class="cat_ttl">感染対策事業</p>
										<dl>
											<dt><a href="">設計/施行</a></dt>
											<dt><a href="">定期自主検査/開放検査</a></dt>
										</dl>
										<p class="cat_ttl"><a href="">海外事業</a></p>
									</div>
								</div>
							</div>
						</li>
						<li><a href="">お問い合わせ</a></li>
						<li><a href="">KJTD公式サイト</a></li>
						<li><a href="">カタログダウンロード</a></li>
						<li><a href=""><span><i class="fa fa-user-o" aria-hidden="true"></i></span> ユーザー新規登録／マイページ</a></li>
					</ul>
				</nav>
			</div>
			<div class="main_img">
				<div class="slide_wrapper">
					<ul class="main_slide">
						<li><img src="img/main-v-1.jpg" alt=""></li>
						<li><img src="img/main-v-2.jpg" alt=""></li>
						<li><img src="img/main-v-3.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</header>
		<!-- header -->

		<main>
			<div class="wrapper">
				<div class="content_block fadeIn wow" data-wow-duration="2s">
					<h2 class="ttl">ポータブル超音波探傷器<br><span>USFD-20</span></h2>
					<section class="top__recommend">
						<div class="box">
							<figure>
								<img src="img/top-product.png" alt="">
							</figure>
							<section>
								<ul>
									<li>コンパクトなボディーに優れた探傷性能を搭載</li>
									<li>さまざまな検査環境に対応したポータブル設計</li>
									<li>簡単操作、堅牢設計</li>
									<li>鮮明なフルVGAディスプレイ</li>
								</ul>
								<a href="" class="btn">製品情報について詳しく</a>
							</section>
						</div>
					</section>
				</div>
			</div>
		</main>
		<!-- main -->

		<%-
		include('./common/_footer', {
			path: './'
		});
		%>