<%-
include('./common/_header', {
	path: './'
});
%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script>
	$(document).ready(function(){
		var layer = document.getElementById('layer');
var parallax = new Parallax(layer);
// 		var x = 0;
// 		var y = 0;
// 	  $(window).mousemove(function(event){
// 	  	$('.layer').each(function(index, element){
// 	  		const off = $(this).offset();
// 	  		// const windowWidth = $(window).width();
// 	  		// const windowHeight = $(window).height();
// 	  		const currentX = event.clientX;
// 	  		const currentY = event.clientY;

// 	  		const speed = $(this).data("speed");

// 	  		if (off.top > currentY) {
// 	  			x -= 0.1 * speed;
// 	  		} else {
// 	  			x += 0.1 * speed;
// 	  		}

// 	  		if (off.left < currentX) {
// 	  			y -= 0.1 * speed;
// 	  		} else {
// 	  			y += 0.1 * speed;
// 	  		}

		    
		  	
// console.log('top' + off.top);
// 		  	console.log('left' +off.left);
// 		  	// console.log(event.clientX);
// 		  	// console.log(event.clientY);
// 	  	$(this).css('-webkit-transform','translate3d(' + x + 'px,' + y + 'px,0px)'); 
// 		  })
	  	
// 	  });
	});
</script>
</script>
		<figure class="obj">
			<div class="" id="layer">
				<img data-depth="0.6" src="img/top-product.png" alt="" class="layer">
			</div>
		</figure>

		<!-- <div class="second_main_img product__bg fadeIn wow" data-wow-duration="1.0s">
			<div class="outer">
				<h2 class="sub_ttl fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="1">
					購買情報
				</h2>
				<p class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.8">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</p>
			</div>
		</div> -->
